
 body {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 1.42857;
    /*background: #333333;*/
    height: 350px;
    padding: 0;
    margin: 0;
}
.header{
	background: #008aff;
	height: 45px;
	font-size: 20px;
	font-weight: bold;
	color:white;
	padding: 8px 5px;
	
	
}
.headerTitle{
	text-align: center;
}
	
.footer{
	position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background:#008aff;
   font-size: 20px;
	
}
.footerMenu{
	text-align:center;
	color:white;
	padding-top: 8px;
}
.tableNo{
	background:rgba(255, 126, 0, 0.8);
	padding: 20px 20px;
	border: 1px solid #2be047;
	text-align: center;
	color:white;
	
}
.item{
	background: rgb(161, 213, 153);
	padding: 20px 20px;
	border: 2px solid white;
	text-align: center;
	color: #231a1a;
	box-shadow : 0px 0px 1px 1px black;
	
}

.itemDiv{
	padding-left : 5px;
}

.itemName{
	text-align: left;
	font-size: 22px;
	
}
.rate{
	text-align: left;
}
.qtyIncrease{
	float : right;
	padding-top : 8px;
}
.qty{
	background: orange none repeat scroll 0% 0%;
	border: 2px none;
	font-size: 22px;
}

.plus{
	color:green;
	font-size : 20px;
	padding-top : 5px;
		
}
.minus{
	color: rgba(255, 0, 0, 0.42);
	font-size : 20px;
	padding-top : 5px;
}
.cart-total{
	padding: 1px 5px 5px;
	background: red none repeat scroll 0% 0%;
	border-radius: 50%;
	z-index: 999;
	position: fixed;
	margin-left: -26px;
	font-size: 14px;
	font-weight: bold;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}
