body {
    font-family:serif;
    font-size: 20px;
 } 
.header{
	background: blue;
	height: 40px;
	
}
.headerTitle{
	text-align: center;
	color:white;
}
	
.footer{
	position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background:blue;
	
}
.footerMenu{
	text-align:center;
	color:white
}
.box{
	background:red;
	padding: 20px 20px;
	border: 1px solid white;
	text-align: center;
	color:white;
}
.itemName{
	text-align: left;
}
.rate{
	text-align: right;
}
